<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 bg-light mt-5 main shadow">
            <div class="row">
            <div class="col-6 mt-5">
               <img src="./images/st.png" alt="" height="60px">
                <form action="" class="p-3">
                    <input type="text"  id="uname" class="form-control mt-3" placeholder="Username">
                    <input type="text"  id="accno" class="form-control mt-3" placeholder="Account Number">
                    <input type="password" id="psswd" class="form-control mt-3" placeholder="Password">
                </form>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn shadow mt-4" type="button" onclick="register()">Register</button>
        
                </div>
                <h1></h1>
    
                
                <br>
                <p style="color: rgb(156, 156, 156);">Don't have an Account?<a href="./index.html" id="signin"><span> <b>Sign Up</b> </span></a></p>
                <br>
            </div>        
            <div class="col-6 bg1">
                <div class="container">
               <h1 id="head">HEI<br>WELCOME<br>BACK</h1>
            </div>
        </div>
        </div></div>
        <div class="col-2"></div>
    </div>
</div>
