<div class="container mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 bg-light mt-5 rounded-5 bg">
                <img src="./images/st.png" style="height: 60px;" class="mt-5" alt="">
             
                    <input [(ngModel)]="acno" type="text"  id="accno" class="form-control mt-3" placeholder="Account Number">
                    <input [(ngModel)]="pswd" type="password"  id="psswd" class="form-control mt-3" placeholder="Password">
                
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn" type="button" (click)="login()">Login</button>
        
                </div>
                <br>
                <p style="color: rgb(156, 156, 156); text-align: center;" class="mb-5">Don't have an Account?<a routerLink="regiter" id="link1"><span> <b>Sign Up</b> </span></a></p>
                    
                </div>
                </div>  
        <div class="col-4"></div>
    </div>
