
<div class="row">
    <div class="col-4"></div>
    <div class="col-4"><h1>Transaction details</h1>
        <table class="table mt-5 table-striped table-hover">
            <thead>
                <th>Type</th>
                <th>Amount</th>
                <!-- <th>Balance</th> -->
            </thead>
            <tbody>
                <tr *ngFor="let t of trans">
                    <td>{{t.type}}</td>
                    <td>{{t.amount}}</td>
                </tr>
               
            </tbody>
        </table></div>
    <div class="col-4"></div>
</div>
<div><a id="a1"routerLink="/dashboard">Home</a></div>

